*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(225,225,225);
    min-height: 100vh;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper header{
    display: flex;
    flex-direction: column;
    background-color: rgb(235,235,235);
    width: 100%;
    
}

header .status{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding: 8px 15px;
    background-color: whitesmoke;
    border: 1px solid gray;
    width: 100%;
}

footer .nav-p{
    width: 100%;
    display: flex;
    margin-top: 20px;
    background-color: rgb(140, 157, 189);
    padding: 22px 0;
    justify-content: center;
}

.nav-p nav{
    display: flex;
    gap: 120px;
}

.nav-p a{
    text-decoration: none;
}

.nav-p i{
    font-size: 30px;
}


#reciente .cards-cl::-webkit-scrollbar{
    width: 7px;
}

#reciente .cards-cl::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
#reciente .cards-cl::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }
  
#reciente .cards-cl::-webkit-scrollbar-thumb:hover {
    background: #555;
}

